In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [21]:
data=pd.read_csv(r"C:\Users\Admin\Downloads\AirBNB-1 (2).csv")

C:\Users\Admin\AppData\Local\Temp\ipykernel_17928\4247513036.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv(r"C:\Users\Admin\Downloads\AirBNB-1 (2).csv")

In [22]:
data.head()

,id,room_type,accommodates,bathrooms,cancellation_policy,cleaning_fee,instant_bookable,review_scores_rating,bedrooms,beds,log_price
0,6901257,Entire home/apt,3.0,1.0,strict,True,f,100.0,1.0,1.0,5.010635
1,6304928,Entire home/apt,7.0,1.0,strict,True,t,93.0,3.0,3.0,5.129899
2,7919400,Entire home/apt,5.0,1.0,moderate,True,t,92.0,1.0,3.0,4.976734
3,13418779,Entire home/apt,4.0,1.0,flexible,True,f,NaN,2.0,2.0,6.620073
4,3808709,Entire home/apt,2.0,1.0,moderate,True,t,40.0,0.0,1.0,4.744932

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74111 entries, 0 to 74110
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    74111 non-null  int64
 1   room_type             74106 non-null  object
 2   accommodates          74108 non-null  float64
 3   bathrooms             73908 non-null  float64
 4   cancellation_policy   74103 non-null  object
 5   cleaning_fee          74107 non-null  object
 6   instant_bookable      74111 non-null  object
 7   review_scores_rating  57389 non-null  float64
 8   bedrooms              74019 non-null  float64
 9   beds                  73980 non-null  float64
 10  log_price             74111 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 6.2+ MB

In [24]:
data.describe()

,id,accommodates,bathrooms,review_scores_rating,bedrooms,beds,log_price
count,7.411100e+04,74108.000000,73908.000000,57389.000000,74019.000000,73980.000000,74111.000000
mean,1.126662e+07,3.155125,1.235272,94.067365,1.265797,1.710868,4.782069
std,6.081735e+06,2.153603,0.582054,7.836556,0.852149,1.254142,0.717394
min,3.440000e+02,1.000000,0.000000,20.000000,0.000000,0.000000,0.000000
25%,6.261964e+06,2.000000,1.000000,92.000000,1.000000,1.000000,4.317488
50%,1.225415e+07,2.000000,1.000000,96.000000,1.000000,1.000000,4.709530
75%,1.640226e+07,4.000000,1.000000,100.000000,1.000000,2.000000,5.220356
max,2.123090e+07,16.000000,8.000000,100.000000,10.000000,18.000000,7.600402

In [25]:
data.shape

(74111, 11)

In [26]:
data.isna().sum()

id                          0
room_type                   5
accommodates                3
bathrooms                 203
cancellation_policy         8
cleaning_fee                4
instant_bookable            0
review_scores_rating    16722
bedrooms                   92
beds                      131
log_price                   0
dtype: int64

In [27]:
data.drop_duplicates()

,id,room_type,accommodates,bathrooms,cancellation_policy,cleaning_fee,instant_bookable,review_scores_rating,bedrooms,beds,log_price
0,6901257,Entire home/apt,3.0,1.0,strict,True,f,100.0,1.0,1.0,5.010635
1,6304928,Entire home/apt,7.0,1.0,strict,True,t,93.0,3.0,3.0,5.129899
2,7919400,Entire home/apt,5.0,1.0,moderate,True,t,92.0,1.0,3.0,4.976734
3,13418779,Entire home/apt,4.0,1.0,flexible,True,f,NaN,2.0,2.0,6.620073
4,3808709,Entire home/apt,2.0,1.0,moderate,True,t,40.0,0.0,1.0,4.744932
...,...,...,...,...,...,...,...,...,...,...,...
74106,14549287,Private room,1.0,1.0,flexible,False,f,NaN,1.0,1.0,4.605170
74107,13281809,Entire home/apt,4.0,2.0,moderate,True,f,93.0,2.0,4.0,5.043425
74108,18688039,Entire home/apt,5.0,1.0,moderate,True,t,94.0,2.0,2.0,5.220356
74109,17045948,Entire home/apt,2.0,1.0,strict,True,t,NaN,0.0,2.0,5.273000
74110,3534845,Entire home/apt,4.0,1.0,moderate,False,f,96.0,1.0,2.0,4.852030

In [28]:
data.isna().sum()

id                          0
room_type                   5
accommodates                3
bathrooms                 203
cancellation_policy         8
cleaning_fee                4
instant_bookable            0
review_scores_rating    16722
bedrooms                   92
beds                      131
log_price                   0
dtype: int64

In [29]:
data=data.drop("review_scores_rating",axis=1)

In [30]:
data["bathrooms"]=data["bathrooms"].fillna(data["bathrooms"].mode()[0])

In [32]:
data=data.apply(lambda x:x.fillna(x.mode()[0]))

In [33]:
data.isna().sum()

id                     0
room_type              0
accommodates           0
bathrooms              0
cancellation_policy    0
cleaning_fee           0
instant_bookable       0
bedrooms               0
beds                   0
log_price              0
dtype: int64

In [34]:
data.dtypes

id                       int64
room_type               object
accommodates           float64
bathrooms              float64
cancellation_policy     object
cleaning_fee              bool
instant_bookable        object
bedrooms               float64
beds                   float64
log_price              float64
dtype: object

In [29]:
data["cleaning_fee"]=data["cleaning_fee"].astype("float64")

In [30]:
data.dtypes

id                       int64
room_type               object
accommodates           float64
bathrooms              float64
cancellation_policy     object
cleaning_fee           float64
instant_bookable        object
bedrooms               float64
beds                   float64
log_price              float64
dtype: object

In [36]:
data.head()

,id,room_type,accommodates,bathrooms,cancellation_policy,cleaning_fee,instant_bookable,bedrooms,beds,log_price
0,6901257,Entire home/apt,3.0,1.0,strict,True,f,1.0,1.0,5.010635
1,6304928,Entire home/apt,7.0,1.0,strict,True,t,3.0,3.0,5.129899
2,7919400,Entire home/apt,5.0,1.0,moderate,True,t,1.0,3.0,4.976734
3,13418779,Entire home/apt,4.0,1.0,flexible,True,f,2.0,2.0,6.620073
4,3808709,Entire home/apt,2.0,1.0,moderate,True,t,0.0,1.0,4.744932

In [39]:
data=pd.get_dummies(data,prefix=["RT-","CP"],columns=["room_type","cancellation_policy"])

In [40]:
data.head()

,id,accommodates,bathrooms,cleaning_fee,instant_bookable,bedrooms,beds,log_price,RT-_Entire home/apt,RT-_Private room,RT-_Shared room,CP_flexible,CP_moderate,CP_strict
0,6901257,3.0,1.0,True,f,1.0,1.0,5.010635,1,0,0,0,0,1
1,6304928,7.0,1.0,True,t,3.0,3.0,5.129899,1,0,0,0,0,1
2,7919400,5.0,1.0,True,t,1.0,3.0,4.976734,1,0,0,0,1,0
3,13418779,4.0,1.0,True,f,2.0,2.0,6.620073,1,0,0,1,0,0
4,3808709,2.0,1.0,True,t,0.0,1.0,4.744932,1,0,0,0,1,0

In [41]:
labels=LabelEncoder()

In [42]:
data["cleaning_fee"]=labels.fit_transform(data["cleaning_fee"])

In [43]:
data.head()

,id,accommodates,bathrooms,cleaning_fee,instant_bookable,bedrooms,beds,log_price,RT-_Entire home/apt,RT-_Private room,RT-_Shared room,CP_flexible,CP_moderate,CP_strict
0,6901257,3.0,1.0,1,f,1.0,1.0,5.010635,1,0,0,0,0,1
1,6304928,7.0,1.0,1,t,3.0,3.0,5.129899,1,0,0,0,0,1
2,7919400,5.0,1.0,1,t,1.0,3.0,4.976734,1,0,0,0,1,0
3,13418779,4.0,1.0,1,f,2.0,2.0,6.620073,1,0,0,1,0,0
4,3808709,2.0,1.0,1,t,0.0,1.0,4.744932,1,0,0,0,1,0

In [44]:
data["instant_bookable"]=labels.fit_transform(data["instant_bookable"])

In [45]:
data.head()

,id,accommodates,bathrooms,cleaning_fee,instant_bookable,bedrooms,beds,log_price,RT-_Entire home/apt,RT-_Private room,RT-_Shared room,CP_flexible,CP_moderate,CP_strict
0,6901257,3.0,1.0,1,0,1.0,1.0,5.010635,1,0,0,0,0,1
1,6304928,7.0,1.0,1,1,3.0,3.0,5.129899,1,0,0,0,0,1
2,7919400,5.0,1.0,1,1,1.0,3.0,4.976734,1,0,0,0,1,0
3,13418779,4.0,1.0,1,0,2.0,2.0,6.620073,1,0,0,1,0,0
4,3808709,2.0,1.0,1,1,0.0,1.0,4.744932,1,0,0,0,1,0

In [46]:
data.dtypes

id                       int64
accommodates           float64
bathrooms              float64
cleaning_fee             int64
instant_bookable         int32
bedrooms               float64
beds                   float64
log_price              float64
RT-_Entire home/apt      uint8
RT-_Private room         uint8
RT-_Shared room          uint8
CP_flexible              uint8
CP_moderate              uint8
CP_strict                uint8
dtype: object

In [47]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [48]:
x=data.drop("log_price",axis=1)

In [50]:
y=data[["log_price"]]

In [51]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=1)

In [52]:
regression_model=LinearRegression()

In [54]:
regression_model.fit(x_train,y_train)

LinearRegression()

In [56]:
coef=regression_model.coef_[0]

In [57]:
coef

array([-2.48292389e-10,  7.83710026e-02,  1.50668262e-01, -6.98183468e-02,
       -5.98766696e-02,  1.54299840e-01, -5.27123106e-02,  5.90397865e-01,
       -5.46983290e-02, -5.35699536e-01,  2.15693615e-02, -3.12960642e-02,
        9.72670269e-03])

In [58]:
intercept=regression_model.intercept_[0]

In [59]:
intercept

4.018376294778838

In [60]:
regression_model.score(x_train,y_train)

0.5147482268618448

In [61]:
regression_model.score(x_test,y_test)

0.5126729620891208

In [63]:
y_pred = regression_model.predict(x_test)

In [64]:
y_pred

array([[5.45878169],
       [4.33371818],
       [4.90151288],
       ...,
       [5.21560238],
       [4.26092715],
       [4.95492696]])